.mod-search-results {

    .layoutwidth {
        max-width: $layout-inner-max-width;
    }

    .results ul {
        margin: 40px 0;
    }

    .pagination {

        .screen-reader-text {
            display: none;
        }

        .page-numbers {
            padding-right: 10px;
        }
    }
}