// State Indicator
// Used for JS detection of media queries

.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    visibility: hidden;

    z-index: 4; // Desktop

    @include mq($max, $mobile-mid-breakpoint) {
        z-index: 1; // mobile
    }

    @include mq('', $mobile-mid-breakpoint, $tablet-portrait-breakpoint) {
        z-index: 2; // Tablet Portrait
    }

    @include mq('', $tablet-portrait-breakpoint, $tablet-landscape-breakpoint) {
        z-index: 3; // Tablet Landscape
    }
}