
$slick-arrow-size: 56px;

.featherlight-next,
.featherlight-previous {
    display: block;
    position: absolute;
    top: calc(50% - 28px);
    width: $slick-arrow-size;
    height: $slick-arrow-size;
    padding: 0;
    z-index: 10;

    text-align: center;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    outline: none;

    background: $white;

    transition: background 140ms, opacity 140ms;

    &:hover, &:focus {
        outline: none;
        background: darken($white, 3%);
    }

    &:before {
        color: $light-grey;
        line-height: $slick-arrow-size - 4px !important;
    }

    span {
        display: none;
    }

    @include mq($max, $tablet-portrait-breakpoint) {
        height: $slick-arrow-size * 0.8;
        width: $slick-arrow-size * 0.8;

        &::before {
            font-size: 24px !important;
            line-height: ($slick-arrow-size * 0.8) !important;
        }
    }
}

.featherlight-previous {
    left: 0;

    @include lamb-icon-element($licon-angle-left) {
        font-size: 30px;
        padding-right: 2px;
    };
}

.featherlight-next {
    left: auto;
    right: 0;


    @include lamb-icon-element($licon-angle-right) {
        font-size: 30px;
        padding-left: 2px;
    };
}

.featherlight-close-icon {
    background: $primary-colour;
    font-size: em(14);
    color: $white;

    &:hover {
        background: darken($white, 3%);
    }
}