
.lazy-image {
    $transition-duration: 600ms;
    $transition-function: ease-in;

    visibility: hidden;
    opacity: 0;

    transition: opacity $transition-duration 0ms $transition-function, visibility 0ms $transition-duration $transition-function;

    &.lazy-success {
        visibility: visible;
        opacity: 1;

        transition: opacity $transition-duration 0ms $transition-function, visibility 0ms 0ms $transition-function;
    }
}