

$loaderSize: 120px;


.mod-blog {
    background: $extra-light-grey;

    &.mod-blog-list {
        padding: 0;
    }

    &.mod-blog-recent {
        .col {
            padding-left: 20px;
            padding-right: 20px;
        }

        .blog-list {
            padding: 0;
        }
    }

    // List
    .blog-list {
        position: relative;
        padding: $padding-mobile 0;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            z-index: 14;
            width: 100%;
            height: 100%;
            background: rgba($grey, 0.5);
            opacity: 0;
            visibility: hidden;

            transition: opacity $transition-duration, visibility 0ms $transition-duration, top 0ms $transition-duration, left 0ms $transition-duration;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            z-index: 15;
            height: $loaderSize;
            width: $loaderSize;
            margin-top: -($loaderSize / 2);
            margin-left: -($loaderSize / 2);
            border: 10px solid rgba($white, 0.5);
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;

            transition: opacity $transition-duration, visibility 0ms $transition-duration, top 0ms $transition-duration, left 0ms $transition-duration;
        }

        &.loading {

            &::before {
                top: 0;
                left: 0;
                opacity: 1;
                visibility: visible;

                transition: opacity $transition-duration, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms;
            }

            &::after {
                top: 50%;
                left: 50%;
                opacity: 1;
                visibility: visible;

                animation: pulseOut 1000ms infinite;

                transition: opacity $transition-duration, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms;
            }
        }

        .text-right {

            .button {
                display: block;
                margin: 15px auto;
                padding: $base-button-padding-mobile;
                background-color: $base-button-background-color;
                color: $white;
                width: 100%;

                @include mq($min, $tablet-portrait-breakpoint) {
                    padding: $base-button-padding;
                    min-width: $base-button-min-width;
                    width: $base-button-min-width;

                }
            }
        }
    }

    // Post
    .blog-post {

        @include mq($min, $mobile-mid-breakpoint) {
            padding: 15px;
        }

        // Top
        .post-top {
            position: relative;
            display: block;
            height: 250px;
            background: $grey;
            overflow: hidden;


            // Hover overlay effect
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 140%;
                height: 100%;
                background: $extra-dark-grey;
                outline: 1px solid transparent;
                opacity: 0;

                transform-origin: bottom;
                transform: skewX(20deg) translate3D(-100%, 0, 0);

                transition: all $transition-duration ease-in-out;
            }

            &:hover {
                &::before {
                    opacity: 1;

                    transform: skewX(20deg) translate3D(0, 0, 0);
                }
            }
        }

        .post-image {
            width: 100%;
            height: 100%;
            background: 50% 50% / cover no-repeat;

            &.lazy-success {
                opacity: 0.5; // Ensure image is darkened to highlight background
            }
        }

        .post-detail {
            position: absolute;
            bottom: 28px;
            left: 28px;
            right: 28px;

            .category {
                display: inline-block;
                padding: 5px;
                background: rgba($white, 0.5);
                line-height: 1em;
                color: $base-font-color;
                font-size: em(12);
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }

            h4 {
                padding: 5px 0 0;
                color: $white;
                font-size: em(22);
            }
        }

        .link {
            @include position-absolute();
        }

        // Bottom
        .post-bottom {
            position: relative;
            padding: 22px 9%;
            background: $white;

            color: darken($light-grey, 10%);
            font-size: em(14);
        }

        .post-share {
            position: absolute;
            right: 12px;
            top: 50%;
            margin-top: -14px;

            .essb_links {
                margin: 0;

                li {
                    a {
                        padding: 4px;
                        margin: 0;
                    }
                }
            }
        }
    }
}