

.mod-blog-single {
    background: $white;

    .post-share {

        .essb_links {
            margin: 0;
            padding: 0 0 24px;
        }
    }

    .blog-content {
        max-width: $layout-inner-max-width;

        p,
        ul {
            color: $light-font-color;
        }
    }
}


.mod-banner-single {

    .banner {
        text-align: left;
    }

    h1 {
        padding: 0 0 0.2em;
        color: $white;
    }

    .post-date {
        color: $extra-light-grey;
    }
}

.post-details{
    padding-bottom: 20px;
}

.post-categories {
    list-style: none;
    padding: 0 0 8px;

    li {
        display: inline-block;
        padding: 0;
        margin-right: 6px;

        a {
            display: block;
            padding: 6px;
            background-color: $extra-light-grey;
            color: $dark-grey;
            font-size: em(12);
            line-height: em(12);
            text-decoration: none;
            text-transform: uppercase;

            .mod-blog-single & {
                background-color: $dark-grey;
                color: $white;
            }
        }
    }
}