.blog-util {
    padding: 10px;
    text-align: center;

    form {
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            width: 100%;
            height: 100%;
            z-index: 14;

            opacity: 0;
            visibility: hidden;
            background: rgba($grey, 0.5);

            transition: opacity 400ms, visibility 0ms 400ms, top 0ms 400ms, left 0ms 400ms;
        }

        &.loading {

            &::before {
                top: 0;
                left: 0;
                opacity: 1;
                visibility: visible;

                transition: opacity 400ms, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms;
            }
        }
    }

    .select-wrap {
        border-width: 1px;
        margin: 0 0 10px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include mq($min, $mobile-mid-breakpoint) {
            display: inline-block;
            min-width: 250px;
            margin: 0 6px;
        }

        //position: relative;
        //border-width: 1px solid $dark-border-color;
        //
        //&:first-of-type {
        //    border-top: none;
        //}
        //
        //@include mq($min, $mobile-mid-breakpoint) {
        //    display: inline-block;
        //    min-width: 250px;
        //    margin-right: -0.25em;
        //
        //    border-top: none;
        //    border-left: 1px solid $dark-border-color;
        //
        //    &:last-of-type {
        //        border-right: 1px solid $dark-border-color;
        //    }
        //}
        //
        //
        //select {
        //    background: transparent;
        //    font-weight: bold;
        //    text-transform: uppercase;
        //    color:$black;
        //}
        //
        //@include lamb-icon-element($licon-angle-down, 'after') {
        //    position: absolute;
        //    top: 50%;
        //    right: 12px;
        //    margin-top: -0.5em;
        //    font-size: 12px;
        //    pointer-events: none;
        //}
    }
}
