*[role="button"],
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.button {
    position: relative;
    display: inline-block;
    width: auto;
    padding: $base-button-padding;
    margin: 10px;

    font-family: $button-font-family;;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 100%;

    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    border: none;
    border-radius: $base-border-radius;

    &:hover {
        text-decoration: none;
    }

    i {
        vertical-align: top;
        font-size: 0.95em;

        &.icon-left{
            padding-right: 8px;
        }

        &.icon-far-left{
            padding-right: 22px;
        }

        &.icon-right {
            padding-left: 8px;
        }

        &.icon-far-right {
            padding-left: 22px;
        }
    }
}

input[type="submit"],
.button {
    min-width: $base-button-min-width;
}

@include mq($max, 550px) {
    *[role="button"],
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
        display: block;
        width: 100%;
        padding: $base-button-padding-mobile;
        margin: 0 auto 20px;
    }
}