// Input - General
//-------------------------------------

input[type="text"],
input[type="email"],
textarea,
select {
    display: inline-block;
    padding: $input-padding;

    font-size: 16px; // Min 16px to avoid IOS zoom
    color: $input-color;

    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    // Dark BG inputs
    .has-bg & {
        color: $input-color-dark;
    }
}

input[type="text"],
input[type="email"],
textarea,
.select-wrap {
    background: $input-background-color;
    border-color: $input-border-color;
    border-width: $input-border-width;
    border-style: solid;
    border-radius: $base-border-radius;

    @include placeholder {
        color: $placeholder-font-color;
    }

    // Dark BG inputs
    .has-bg & {
        background: $input-background-color-dark;
        border-color: $input-border-color-dark;
        border-width: $input-border-width-dark;

        @include placeholder {
            color: $placeholder-font-color-dark;
        }
    }
}


// Input - Textarea
//-------------------------------------

textarea {
    resize: vertical;
    height: 180px;
}


// Input - Select
//-------------------------------------

.select-wrap {
    position: relative;
    background: $input-background-color;

    &.has-value {
        select {
            color: $input-color;

            // Dark BG
            .has-bg & {
                color: $input-color-dark;
            }
        }

        &::after {
            // Dark BG
            .has-bg & {
                color: $input-color-dark;
            }
        }
    }

    select {
        position: relative;
        display: block;
        width: 100%;
        padding-right: $input-padding + 20px;
        z-index: 4;

        color: $placeholder-font-color;

        border: none;
        background: transparent;

        // Dark BG
        .has-bg & {
            color: $placeholder-font-color-dark;
        }

        option {
            background: $white;
            color: $black;
        }
    }

    @include lamb-icon-element($licon-angle-down, 'after') {
        position: absolute;
        top: 50%;
        right: 14px;
        margin-top: -0.5em;
        z-index: 2;

        color: $input-color;
        font-size: 12px;

        // Dark BG
        .has-bg & {
            color: $placeholder-font-color-dark;
        }
    }
}


// Input - Checkbox, Radio
//-------------------------------------

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    top: -9999px;
    left: -9999px;

    + label {
        position: relative;
        display: inline-block;
        padding-left: 1.4em;
        cursor: pointer;

        font-size: 14px;
        color: $placeholder-font-color;

        // Dark BG
        .has-bg & {
            color: $placeholder-font-color-dark;
        }

        &::before,
        &::after {
            @include pseudo-elem();
            position: absolute;
            left: 0;
            top: 50%;
            width: 1em;
            height: 1em;
            margin-top: -0.52em;
        }

        &::before {
            background: $extra-light-grey;
            z-index: 2;

            // Dark BG
            .has-bg & {
                color: $white;
            }
        }

        &::after {
            background: $primary-colour;
            z-index: 4;

            opacity: 0;
            transform: scale(0);

            transition: opacity 240ms, transform 240ms;
        }
    }

    &:checked {

        + label {
            color: $input-color;

            // Dark BG
            .has-bg & {
                color: $input-color-dark;
            }

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

input[type="radio"] {

    + label {

        &::before,
        &::after {
            border-radius: 50%;
        }
    }
}