// Gravity Form Fields
//-------------------------------------

.gform_fields {
    padding: 0;
    list-style: none;
}

.gfield {
    text-align: left;
    padding-bottom: 30px;

    &.col {
        margin-bottom: 0;
    }

    input,
    .select-wrap,
    select,
    textarea {
        display: block;
        width: 100%;

        transition: border $transition-duration;
    }


    // Field label

    .gfield_label {
        display: none;
        padding-bottom: 6px;
    }

    &.checkbox-field,
    &.radio-field {

        .gfield_label {
            display: block;
            padding-bottom: 2px;
        }
    }
}


// Gravity Form Field - Radio, Checkbox
//-------------------------------------

.gfield_checkbox,
.gfield_radio {
    list-style: none;
    padding: 0;

    > li {
        // Use inline-block to show options in a row, otherwise use block to display vertically
        display: inline-block;
        padding: 0 10px 4px 0;

        &:last-of-type {
            padding-right: 0;
        }
    }
}


// Gravity Form Field - Errors
//-------------------------------------

.validation_error {
    padding-bottom: 30px;

    color: $red;
    font-size: 14px;
}

.gfield {
    position: relative;

    label.error,
    .validation_message {
        display: block;
        position: absolute;
        left: 0;
        bottom: 8px;

        font-size: 12px;
        color: $red;

        opacity: 0;

        transition: opacity $transition-duration, transform $transition-duration;
    }


    label.error {
        + .validation_message {
            display: none !important;
        }
    }

    .validation_message {
        opacity: 1;
    }


    // Form error active
    //---------------------------

    &.gfield_error .ginput_container,
    .ginput_container.error {

        &:not(.valid) {

            &.select-wrap,
            input,
            textarea {
                border-color: $red;
            }

            + label {
                &.error {
                    opacity: 1;
                }
            }
        }
    }

    &.col {

        label.error,
        .validation_message {

            @include mq($min, $tablet-portrait-breakpoint) {
                // Account for column padding
                left: 15px;
            }
        }
    }
}