
// List - Standard, Disc
//-------------------------

ul,
ol {

    .content & {
        font-size: 14px;
    }

    li {
        line-height: $base-line-height;

        .content & {
            margin: 8px;
        }
    }
}

// List - Standard
//-------------------------

ul {
    list-style: disc;
}