.module {
    position: relative;
    clear: both;
    padding: $padding-mobile;

    &.has-bg {
        background: $grey;
        color: $white;

        h1, h2, h3,
        p {
            color: $white;
        }
    }

    &.no-pad {
        padding: 0 !important;
    }

    img.alignleft {
        float: left;
        padding: 0 25px 25px 0;
    }

    img.alignright {
        float: right;
        padding: 0 0 25px 25px;
    }

    .module-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: 50% 50% / cover no-repeat transparent;
    }

    .actions {
        padding: 25px 0 0;
        text-align: center;
    }

    .module {
        padding: 0 0 40px;

        &:last-of-type {
            padding: 0;
        }

        .layoutwidth {
            position: static;
            max-width: none;
            padding: 0;
        }
    }

    .content {
        max-width: $layout-inner-max-width;
        margin: 0 auto 20px;
    }

}

@include mq($max, $mobile-mid-breakpoint) {
    .module {

        &.hide-bg-mobile {
            .module-bg {
                display: none !important;
            }
        }
    }
}

@include mq($min, $tablet-portrait-breakpoint) {
    .module {
        padding: $padding-tablet;
    }
}