.layout {
    padding: 0;
    margin: 0;
    height: 100%;
}

.layoutwidth {
    position: relative;
    max-width: $layout-max-width;
    padding: 0 $layout-padding;
    margin: 0 auto;
}

.sidebar-layout {
    padding: 0;

    .main-content {
        padding: 0 $layout-padding;
    }
}