body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;

    .content {
        font-size: $base-content-font-size;
    }
}

h1 {
    font-size: 48px;
    font-weight: $font-weight-light;

    @include mq($max, $mobile-mid-breakpoint) {
        font-size: 38px;
    }
}

h2 {
    font-size: 30px;
    font-weight: $font-weight-regular;
    margin-top: 55px;
}

h3 {
    font-size: 24px;
    font-weight: $font-weight-regular;
    margin-top: 45px;
}

h4 {
    font-size: 16px;
    font-weight: $font-weight-bold;
    margin-top: 35px;
}

a {
    color: $action-colour;
    text-decoration: underline;

    &:hover {
        color: darken($action-colour, 10%);
    }
}

p {
    font-size: 14.5px;
    line-height: $base-line-height;
}