

.mod-video {
    padding: 0;
    background-color: $primary-colour !important;
    color: #fff;

    .inner {
        display: table;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .vert-bot {
        display: table-cell;
        vertical-align: bottom;
    }

    .subtitle {
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    h3 {
        padding: 0;
        font-size: em(24);
        line-height: 1.2;
    }

    .video-wrap {
        position: relative;
        max-width: 100%;
        height: auto;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .col {
        margin-bottom: 0 !important;
    }
}

@include mq($min, $tablet-portrait-breakpoint) {
    .mod-video {
        .inner {
            padding: 60px;
        }

        h3 {
            font-size: em(30);
        }

        .col {
            min-height: 300px;
        }
    }
}

@include mq($min, $tablet-landscape-breakpoint) {
    .mod-video {
        .col {
            min-height: 430px;
        }

        h3 {
            font-size: em(34);
        }
    }
}

@include mq($min, $desktop-breakpoint) {
    .mod-video {
        .col {
            min-height: 542px;
        }

        h3 {
            font-size: em(46);
        }
    }
}