.mod-testimonials {
    &.list {
        .layoutwidth {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        article {
            position: relative;
            margin-left: 60px;
            padding-bottom: 20px;
            text-align: left;
            font-weight: 400;
            font-family: $base-font-family;

            .icon-quote {
                display: none;
            }
        }

        .entry-date {
            position: absolute;
            top: 0;
            left: -60px;
            width: 48px;
            height: 48px;
            padding: 10px 4px;
            background-color: $primary-colour;
            color: $white;
            text-transform: uppercase;
            text-align: center;

            .day {
                font-size: em(24);
            }

            .month {
                font-size: em(12);
            }
        }

        .entry-title {
            margin: 0;
            font-size: em(20);
            color: $primary-colour;
        }

        .entry-content {
            clear: both;

            a {
                color: $primary-colour;
            }

            .feature-img {
                width: 90%;
                margin: 20px auto;

                img {
                    display: block;
                    margin: 0;
                }
            }
        }

        .attribution {
            margin-top: 10px;
            color: $primary-colour;
            font-size: em(15);
            font-style: italic;
        }

        .feature-img {
            text-align: center;

            img {
                margin: 0 auto 40px;
            }
        }

        .pagination {
            padding: 20px 0 0;

            text-align: center;

            h2 {
                display: none;
            }

            .page-numbers {
                margin: 0 6px;
                padding: 2px 10px;

                font-size: em(24);
                line-height: em(20);

                .fa {
                    font-size: 14px;
                }
            }

            span {
                &.page-numbers {
                    color: $white;
                }
            }

            a {
                &.page-numbers {
                    padding: 7px 15px;

                    background-color: $light-grey;
                    color: $base-font-color;

                    &:hover {
                        background-color: rgba($primary-colour, .2);
                        color: $base-font-color;
                        text-decoration: none;
                    }
                }
            }
        }

        .social {
            position: absolute;
            top: 4px;
            right: 0;

            .essb_links {
                position: relative;
                top: -8px;
                margin: 0;
            }
        }
    }
}

@include mq($max, 500px) {
    .mod-testimonials {
        &.list {

            h2 {
                padding-top: 10px;
                text-align: center;
            }

            article {
                margin-left: 0;
                padding-top: 46px;
                padding-bottom: 40px;
                text-align: left;
            }

            .entry-date {
                display: block;
                position: absolute;
                left: 50%;
                margin: 0 auto;
                padding: 5px 4px;
                line-height: 1;

                transform: translate(-50%, 0);

                .day {
                    display: inline-block;
                    margin-right: 2px;
                    font-size: em(18);
                }

                .month {
                    display: inline-block;
                }
            }

            h2 {
                padding-bottom: 10px;
            }
        }
    }
}

@include mq($min, 500px) {
    .entry-date {
        .day,
        .month {
            position: relative;
        }

        .day {
            top: -13px;
        }

        .month {
            top: -20px;
        }
    }
}

@include mq($min, $tablet-portrait-breakpoint) {

    .mod-testimonials {
        &.list {
            padding: 60px 0 60px;

            .layoutwidth {
                padding: 40px 30px 0 40px;
                //padding-top: 40px;
                //padding-left: 30px;
                //padding-right: 30px;
            }

            .entry-title {
                text-align: left;
            }

            article {
                margin-left: 90px;
                padding-left: 36px;
                border-left: 1px solid $primary-colour;

                .icon-quote {
                    display: block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    left: 6px;
                    top: 5px;
                    background-size: contain;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -5px;
                    width: 10px;
                    height: 10px;
                    background: #fff;

                    border: 1px solid $primary-colour;
                    border-radius: 5px;
                }
            }

            .entry-date {
                left: -90px;
                width: 58px;
                height: 58px;

                .day,
                .month {
                    position: relative;
                }

                .day {
                    top: -10px;
                }

                .month {
                    top: -15px;
                }
            }

            .entry-content {
                position: relative;
                padding-bottom: 40px;
                text-align: left;

                &.has-quotes {
                    padding: 0 0 0 30px;
                }
            }

            .zi-quote-left {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 18px;
            }

            .zi-quote-right {
                position: relative;
                padding-left: 12px;
            }

        }

        .pagination {
            padding: 40px 0 0;
        }

        .social {
            position: static;
            float: right;
        }
    }
}