.mod-testimonials {
    &.slider {
        padding: 45px 0 80px;

        @include mq($min, $tablet-portrait-breakpoint) {
            padding: 45px 0 90px;
        }

        .attribution {
            text-align: center;
        }

        .slick-dots {
            li {
                button {

                    &::before {
                        width: 15px;
                        height: 15px;
                        color: transparent;
                        background-color: $white;
                        border-radius: 50%;
                        border: 2px solid $primary-colour;
                        opacity: 1;
                        box-shadow: inset 0 0 0 0 $primary-colour;

                        transform: scale(.6);

                        transition: transform 400ms ease-out, box-shadow 400ms ease-out;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            color: transparent;
                            border: thin solid $primary-colour;
                            box-shadow: inset 0 0 0 10px $primary-colour;

                            transform: scale(1);
                        }
                    }
                }
            }
        }

    } //slider

    @include mq($max, $tablet-portrait-breakpoint) {
        &.slider {
            .slide {
                .img,
                .details {
                    height: auto !important;
                }
            }

            .slick-prev {
                left: -4.25% !important;
            }

            .slick-next {
                right: -4.25% !important;
            }
        }
    }

    @include mq($min, $tablet-portrait-breakpoint) {
        &.slider {
            .slide {
                padding: 0 35px;
            }

            .img {
                display: inline-block;
                width: 25%;
                margin-right: 3.5%;

                .inner {
                    width: 100%;

                    img {
                        width: 100% !important;
                        max-width: none !important;
                    }
                }
            }

            .inner {
                width: 100%;
            }

            .details {
                display: inline-block;
                width: 71.5%;
                padding: 0;
                margin: 0;
                text-align: left;

                &.no-img {
                    width: 100%;
                }

                .inner {
                    text-align: left;
                }

                .message {
                    position: relative;
                    font-size: em(20);
                }

                .attribution {
                    font-size: em(14);
                }
            }

            .slick-prev {
                left: -3% !important;
            }

            .slick-next {
                right: -3% !important;
            }
        }
    }

    @include mq($min, $tablet-landscape-breakpoint) {
        &.slider {
            .details {
                .message {
                    font-size: em(28);
                }
            }
        }
    }


}