@import "../../interface/scss/global/all";

.mod-testimonials {
    position: relative;

    &.has-bg {
        .module-bg {
            &::before {
                @include pseudo-elem();
                @include position-absolute();
                background-color: $dark-grey;
                opacity: 0.35;
            }
        }
    }

    .title-block {
        .subtitle {
            text-transform: uppercase;
        }
    }

    .img {
        width: 230px;
        margin: 0 auto;

        .inner {
            position: relative;
        }
    }

    .details {
        padding: 0 45px;
        margin-top: 30px;
        text-align: center;

        &.no-img {
            margin-top: 0;
        }

        .message,
        .title {
            text-align: center;
        }

        .message {
            line-height: normal;
            font-size: em(16);
        }

        .title {
            color: $primary-colour;
            padding-bottom: 0;
        }
    }

}