@font-face {
    font-family: "lamb";
    src: url('../fonts/lamb/lamb.eot');
    src: url('../fonts/lamb/lamb.eot?#iefix') format('eot'),
    url('../fonts/lamb/lamb.woff') format('woff'),
    url('../fonts/lamb/lamb.ttf') format('truetype'),
    url('../fonts/lamb/lamb.svg#lamb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin lamb-icon-base-styles() {
    font: normal normal normal 16px/1 "lamb";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin lamb-icon-styles() {
    position: relative;
    display: inline-block;
    font: normal normal normal 16px/1 "lamb";
    font-size: inherit;
    text-transform: none;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    top: -0.065em;
}


%icon-base-styles {
    @include lamb-icon-styles();
}

$licon-angle-down: "\";
$licon-angle-left: "\";
$licon-angle-right: "\";
$licon-angle-up: "\";
$licon-arrow-down: "\";
$licon-arrow-left: "\";
$licon-arrow-right: "\";
$licon-arrow-up: "\";
$licon-checkmark: "\";
$licon-cross: "\";
$licon-download: "\";
$licon-facebook: "\";
$licon-google: "\";
$licon-instagram: "\";
$licon-lamb: "\";
$licon-linkedin: "\";
$licon-marker: "\";
$licon-phone: "\";
$licon-pinterest: "\";
$licon-search: "\";
$licon-spinner: "\";
$licon-twitter: "\";
$licon-youtube: "\";


$icons: (
angle-down: "\",
angle-left: "\",
angle-right: "\",
angle-up: "\",
arrow-down: "\",
arrow-left: "\",
arrow-right: "\",
arrow-up: "\",
checkmark: "\",
cross: "\",
download: "\",
facebook: "\",
google: "\",
instagram: "\",
lamb: "\",
linkedin: "\",
marker: "\",
phone: "\",
pinterest: "\",
search: "\",
spinner: "\",
twitter: "\",
youtube: "\"
);


.licon {
    @extend %icon-base-styles;
}


@each $name, $icon in $icons {
.licon-#{$name}::before {
    content: $icon;
}
}

@mixin lamb-icon($icon-name: "") {

    @include lamb-icon-base-styles();

    @if $icon-name != "" {
        content: $icon-name;
    }
}

@mixin lamb-icon-element($icon-name: "", $pseudo-element: "before") {

    @if $pseudo-element == "before" or $pseudo-element == "after" {

        &::#{$pseudo-element} {
            @include lamb-icon-styles();

            @if $icon-name != "" {
                content: $icon-name;
            }

            @content;
        }
    }
}