.mod-tabs {

    .tabs {
        padding: 0;
        list-style-type: none;

        &.tabs-desktop {
            display: none;
        }

        @include mq($min, $tablet-portrait-breakpoint) {
            &.tabs-mobile {
                display: none;
            }

            &.tabs-desktop {
                display: block;
                padding-bottom: 40px;
                text-align: center;
            }
        }
    }

    .tab-panels {
        @include mq($max, $tablet-portrait-breakpoint) {
            height: auto !important;
        }
    }

    .tab {
        padding: 2px 0;

        @include mq($min, $tablet-portrait-breakpoint) {
            display: inline-block;
            padding: 5px;
        }

        &.open .tab-title,
        &:hover .tab-title {
            background-color: $primary-colour;
            border-color: darken($primary-colour, 15%);
            color: $white;
        }
    }

    .tab-title {
        position: relative;
        display: block;
        width: auto;
        padding: 15px 20px;
        background-color: $extra-light-grey;
        border: 1px solid darken($extra-light-grey, 15%);
        text-align: center;
        font-size: em(18);
        cursor: pointer;

        @include mq($min, $mobile-mid-breakpoint) {
            text-align: left;
        }
    }

    .panel {
        position: fixed;
        padding: 20px;
        visibility: hidden;
        opacity: 0;
        text-align: left;

        transition: opacity $transition-duration linear;

        &.open {
            position: relative;
            visibility: visible;
            opacity: 1;
        }

        > .content {
            padding-bottom: 40px;
        }
    }


    // vertical tabs
    &.vertical {

        .tabs {

            @include mq($min, $tablet-portrait-breakpoint) {

                &.tabs-desktop {
                    display: inline-block;
                    padding-bottom: 0;
                }
            }
        }

        .tab {
            display: block;
            padding: 2px 0;
        }

        .panel {
            padding: 0 0 0 20px;

            @include mq($max, $tablet-portrait-breakpoint) {
                padding: 20px;
            }
        }
    }
}