

$breadcrumb-background: $extra-light-grey;
$breadcrumb-item-height: 36px;
$breadcrumb-item-bgcolor: $light-grey;
$breadcrumb-item-color: $dark-grey;
$breadcrumb-alignment: center; // left, center


.breadcrumbs {
    position: relative;
    z-index: 4;
    clear: both;
    padding: 0;
    background: $breadcrumb-background;
    font-family: $base-font-family;
    font-size: em(12);
    text-transform: uppercase;
    text-align: $breadcrumb-alignment;

    &.arrows {

        .layoutwidth {

            > span {
                display: inline-block;
                position: relative;

                &::before {
                    @include pseudo-elem();
                    @include position-absolute($left: -1000px);
                    width: 1000px;
                    background: $breadcrumb-item-bgcolor;
                }

                > span {
                    span,
                    a {
                        display: inline-block;
                        color: rgba($breadcrumb-item-color, .7);
                        text-decoration: none;

                        &:hover {
                            color: $breadcrumb-item-color;
                        }
                    }

                    span.breadcrumb_last {
                        color: $breadcrumb-item-color;
                    }

                    span.breadcrumb_last,
                    > span a {
                        position: relative;
                        height: $breadcrumb-item-height;
                        padding: 0 0 0 10px;
                        line-height: 0;
                        border-top: $breadcrumb-item-height / 2 solid $breadcrumb-item-bgcolor;
                        border-right: $breadcrumb-item-height / 2 solid $breadcrumb-item-bgcolor;
                        border-bottom: $breadcrumb-item-height / 2 solid $breadcrumb-item-bgcolor;
                        border-left: $breadcrumb-item-height / 2 solid transparent;

                        &::before {
                            @include position-absolute();
                            @include pseudo-elem();
                            @include triangle($breadcrumb-item-height, $breadcrumb-item-bgcolor, right);

                            top: -18px;
                            left: -22px;
                        }

                        &::after {
                            @include position-absolute();
                            @include pseudo-elem();
                            @include triangle($breadcrumb-item-height, $breadcrumb-item-bgcolor, right);

                            top: -$breadcrumb-item-height / 2;
                            left: auto;
                            right: -$breadcrumb-item-height;
                        }
                    }

                    > a
                    {
                        padding: 0 10px;
                        line-height: $breadcrumb-item-height;
                        background-color: $breadcrumb-item-bgcolor;
                        border-radius: 0;

                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include mq($max, $tablet-portrait-breakpoint) {
        display: none;
    }
}