$sidebar-animation-duration: 240ms;

.sidebar {
    display: inline-block;
    background: $white;
    width: $sidebar-width;
    padding: 6px 34px 34px;
    vertical-align: top;
    z-index: 20;

    border-right: 1px solid $base-border-color;

    > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            font-size: 18px;
            font-weight: 400;
            padding: 0 0 10px;
            margin: 25px 0 0px;

            > a {
                color: $base-font-color;

                &:hover {
                    color: darken($base-font-color, 10%);
                }
            }

            > ul {
                border-top: 1px solid rgba($black, 0.05);
                display: block;
                margin: 10px 0 0 0;
                padding: 10px 0 0 0;
                font-size: 14px;
            }
        }
    }

    a {
        text-decoration: none;
        line-height: $base-line-height;
        color: $action-colour;

        &:hover {
            color: darken($action-colour, 10%);
        }
    }

    ul {
        list-style: none;

        ul {

            ul {
                display: none;
                padding: 4px 10px 4px 10px;
                margin-top: 4px;

                border-left: 1px solid $base-border-color;

                background: lighten($base-border-color, 4%);


                a {
                    color: $base-font-color;

                    &:hover {
                        color: darken($base-font-color, 10%);
                    }
                }
            }


            .current_page_ancestor,
            .current_page_item {

                > a {
                    font-weight: $font-weight-bold;
                }

                ul {
                    display: block;
                }
            }
        }
    }
}


.sidebar-overlay {
    display: none;
}

@include mq($max, $tablet-portrait-breakpoint) {

    .sidebar {
        position: fixed;
        top: 0;
        left: -$sidebar-width;
        bottom: 0;
        z-index: 200;
        overflow-y: auto;
        background: $primary-colour;
        padding: 24px;

        transition: transform $sidebar-animation-duration;

        .admin-bar & {
            top: $wp-adminbar-height;
        }

        .sidebar-open & {
            transform: translateX($sidebar-width);
        }

        > ul > li > a,
        a {
            color: darken($white, 4%);

            &:hover {
                color: $white;
            }
        }

        > ul > li {
            > ul {
                border-top: 1px solid darken($primary-colour, 6%);
            }
        }


        ul {

            ul {

                ul {

                    border-left: 1px solid darken($primary-colour, 6%);

                    background: darken($primary-colour, 2%);

                    a {
                        color: darken($white, 4%);

                        &:hover {
                            color: $white;
                        }
                    }
                }

            }
        }
    }

    .sidebar-overlay {
        display: block;
        position: fixed;
        top: -100px;
        left: -100px;
        right: -100px;
        z-index: 100;
        cursor: pointer;

        opacity: 0;
        visibility: hidden;

        background: rgba($white, 0.75);

        transition: opacity $sidebar-animation-duration, visibility 0ms $sidebar-animation-duration, bottom 0ms $sidebar-animation-duration;

        .sidebar-open & {
            opacity: 1;
            visibility: visible;

            bottom: -100px;

            transition: opacity $sidebar-animation-duration, visibility 0ms 0ms, bottom 0ms 0ms;
        }
    }


    .sidebar-open {
        overflow: hidden;
    }

    header,
    .main-content {
        transition: transform $sidebar-animation-duration;

        .sidebar-open & {
            transform: translateX($sidebar-width);
        }
    }

}

@include mq($min, $tablet-portrait-breakpoint) {

    .has-sidebar {
        display: inline-block;
        margin-left: -5px;
        width: calc(100% - #{$sidebar-width});
        vertical-align: top;
    }
}