// Search Form
//-------------------------------------

.search-form {
    padding: 0;

    .inner {
        position: relative;
    }

    #search-input {
        padding: 10px 32px 10px 16px;
        border-radius: 3px;
        border: solid 1px #B3B5B4;
        width: 100%;
        z-index: 150;

        &:focus {
            box-shadow: none;
            outline: 0;
            border-color: $pink;
        }
    }

    .clear-search {
        position: absolute;
        display: block;
        right: 15px;
        top: 14px;
        width: 14px;
        height: 14px;

        font-size: 14px;
        color: darken($extra-light-grey, 5%);

        @include lamb-icon-element($licon-search) {
            display: block;
            top: 0;
            z-index: -1;
            background: $white;
        }

        &.active {

            &::before {
                cursor: pointer;
                z-index: 200;
                content: $licon-cross
            }
        }
    }
}


// Algolia Autocomplete
//-------------------------------------

.algolia-autocomplete {
    width: 100%;

    .h1 {
        font-size: 16px;
        font-weight: bold;
    }

    .heading-structure {
        font-size: 16px;
        display: inline-block;

        .heading {


            &::before {
                content: " > ";
                margin-left: .25em;
                margin-right: .25em;
                color: $action-colour;
                opacity: 0.3;
            }

            &:first-child {

                &::before {
                    content: "# ";
                    margin-left: 0;
                }
            }
        }
    }

    .content {
        font-size: 13px;
        background-color: rgba($extra-light-grey, 0.8);
        padding: 10px;
        border-radius: 3px;
        margin-left: 3px; // Needed to align the text with h. div text
        margin-top: 14px;
    }
}

.aa-dropdown-menu {
    margin-top: -10px;
    width: 100%;
    padding: 0;
    background-color: #FFF;
    border: solid 1px lighten($pink, 25%);
    border-top: 0px;
    border-radius: 0 0 2px 2px;

    .autocomplete-wrapper {
        text-align: left;
        padding: 12px 18px;
        font-size: 16px;
        line-height: 24px;
    }

    .autocomplete-wrapper.empty {
        padding-top: 30px !important;
    }

    .aa-suggestion {
        border-bottom: 1px solid $extra-light-grey;

        &:first-child {
            margin-top: 20px;
        }

        &:last-child {
            border-bottom: none;
        }

        &.aa-cursor .autocomplete-wrapper {
            background-color: rgba($extra-light-grey, 0.5);
            cursor: pointer;

            .content {
                background-color: $extra-light-grey;
            }
        }

        p {
            margin: 0;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        .autocomplete-wrapper em {
            background-color: rgba(255, 116, 116, 0.20);
            font-style: normal;
        }

        &.aa-cursor .autocomplete-wrapper em {
            background-color: rgba(255, 116, 116, 0.40);
            font-style: normal;
        }

        .autocomplete-wrapper .content em,
        &.aa-cursor .autocomplete-wrapper .content em {
            background-color: transparent;
            font-weight: bold;
        }
    }

    .category {
        font-weight: bold;
        font-size: 15px;
        padding: 5px 20px;
        background: #EEE;
        margin-top: 4px;
        margin-bottom: 3px;
    }

    .aa-dataset-all {
        border-top: 1px solid #DDD;
        background: #F7F7F7;
        margin-top: 8px;
    }
}
