$facebook: #3b5998;
$google: #dd4b39;
$instagram: #517fa4;
$linkedin: #007bb6;
$twitter: #00aced;
$youtube: #b00;

.social-media {
    a {
        display: inline-block;
        margin: 0 3px;
        font-size: 16px;
        color: $base-font-color;
        text-decoration: none;
        transition: color $transition-duration, background $transition-duration;

        &:hover {
            &.social-facebook {
                color: $facebook;
            }
            &.social-twitter {
                color: $twitter;
            }
            &.social-linkedin {
                color: $linkedin;
            }
            &.social-google {
                color: $google;
            }
            &.social-youtube {
                color: $youtube;
            }
            &.social-instagram {
                color: $instagram;
            }
        }
    }

    &.circles {
        a {
            border-radius: 50%;
            background: $base-font-color;
            padding: 6px;
            color: $white;

            &:hover {
                color: $white;

                &.social-facebook {
                    background: $facebook;
                }
                &.social-twitter {
                    background: $twitter;
                }
                &.social-linkedin {
                    background: $linkedin;
                }
                &.social-google {
                    background: $google;
                }
                &.social-youtube {
                    background: $youtube;
                }
                &.social-instagram {
                    background: $instagram;
                }
            }
        }
    }
}