$accordionAnimationDuration: 200ms;

.mod-accordion {

    .accordion-list {
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        text-align: left;
    }

    .accordion-item {
        padding: 0;

        &.first {
            .accordion-title {
                border-top: 1px solid $base-border-color;
            }
        }

        // Active Accordion
        &.animating {
            .accordion-detail {
                position: relative;
                width: 100%;
                height: auto;
            }
        }

        &.open {
            .accordion-title {
                background-position: 100% -773px;
                color: $base-font-color;

                span {
                    transform: rotate(45deg);

                    &:before {
                        transform: rotate(0deg);
                    }

                    &:after {
                        transform: rotate(0deg);
                    }
                }
            }

            .accordion-detail {
                position: relative;
                visibility: visible;
                width: 100%;
                height: auto;
                opacity: 1;

                transition: opacity $accordionAnimationDuration, visibility 0ms 0ms;
            }
        }
    }

    .accordion-title {
        position: relative;
        display: block;
        padding: 24px 50px 24px 24px;
        cursor: pointer;
        color: $base-font-color;
        text-decoration: none;
        border-bottom: 1px solid $base-border-color;
        @include no-select();

        @include mq($min, $tablet-landscape-breakpoint) {
            font-size: em(18);
        }

        &:hover {

            span {
                &:before {
                    transform-origin: 1px 1px;
                    transform: rotate(45deg);
                }

                &:after {
                    transform-origin: 5px 1px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .accordion-symbol {
        position: absolute;
        display: block;
        right: 28px;
        top: 50%;
        height: 10px;
        width: 2px;
        margin-top: -5px;
        background: $base-font-color;

        transition: all 250ms;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 6px;
            height: 2px;
            margin-top: -1px;
            background: $base-font-color;

            transition: all 200ms;
        }

        &:before {
            margin-left: -4px;
        }
    }

    .accordion-detail {
        visibility: hidden;
        position: fixed;
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 20px;
        background: lighten($extra-light-grey, 6%);
        border-bottom: 1px solid $base-border-color;
        opacity: 0;

        transition: opacity $accordionAnimationDuration, visibility 0ms $accordionAnimationDuration;
    }



    // Accordion (default)
    &.default .accordion-list {
        max-width: $layout-inner-max-width;
    }





}