.mod-accordion {
    &.side {
        // Accordion with Side Panel
        .accordion-list-wrap {

            .accordion-title {
                display: none;

                @include mq($min, $tablet-landscape-breakpoint) {
                    display: block;
                }
            }

            .accordion-detail {
                padding: 24px;
            }
        }

        .accordion-content-wrap {
            @include mq($max, $tablet-portrait-breakpoint) {
                display: none;
            }
        }

        .accordion-content-wrap {
            .accordion-title {
                display: block;

                @include mq($min, $tablet-landscape-breakpoint) {
                    display: none;
                }
            }
        }

        .accordion-list {

            .accordion-item.open,
            .accordion-item:hover {

                .accordion-title {

                    &:before {
                        width: 5px;
                    }
                }
            }
        }

        .accordion-title {

            @include mq($min, $tablet-landscape-breakpoint) {
                padding: 24px;

                &:before {
                    @include position-absolute();
                    @include pseudo-elem();
                    width: 0;
                    background-color: $primary-colour;

                    transition: width 400ms;
                }
            }
        }

        .accordion-symbol {
            @include mq($min, $tablet-landscape-breakpoint) {
                display: none;
            }
        }

        .accordion-detail {
            width: 100%;
            background-color: transparent;

            @include mq($min, $tablet-landscape-breakpoint) {
                padding: 0 0 0 40px;
                border-bottom: none;
            }
        }

    }
}