header {
    position: relative;
    clear: both;
    height: $header-height-desktop;
    background: $header-background-color;
    z-index: 100;

    border-bottom: 1px solid $base-border-color;

    .layoutwidth {
        height: 100%;
    }

    // Mobile + Tablet
    @include mq($max, $tablet-landscape-breakpoint) {
        height: $header-height-mobile;
        padding: 0;
    }

    // Tablet
    @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
        height: $header-height-tablet;
    }


    // Header Logo
    //-----------------------------

    .header-logo {
        display: inline-block;
        height: 100%;

        line-height: $header-height-desktop;

        a {
            display: block;
            height: 100%;

            text-decoration: none !important;
            font-size: 21px;


            @include mq($min, $tablet-portrait-breakpoint) {
                padding-left: 20px;
            }
        }

        .icon {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin-right: 8px;
            margin-top: -4px;
        }

        @include mq($max, $tablet-landscape-breakpoint) {
            line-height: $header-height-mobile;
        }

        // Tablet
        @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
            line-height: $header-height-tablet;
        }
    }


    // Sidebar Toggle
    //-----------------------------

    .sidebar-toggle {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        background-color: $menu-toggle-color;
        border-radius: 4px;

        cursor: pointer;

        z-index: 810;

        @include no-select();

        transition: transform 200ms ease-in;

        // Tablet +
        @include mq($min, $tablet-portrait-breakpoint) {
            display: none;
        }

        $toggle-size: 18px;

        // Hamburger lines
        span,
        span:before,
        span:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -($toggle-size / 2);

            height: 1px;
            width: $toggle-size;
            background: $white;

            transition: all 200ms ease-in;
        }

        span {
            top: 50%;
            margin-top: -1px;

            &:before {
                top: -5px;
            }

            &:after {
                bottom: -5px;
            }
        }
    }
}