//===============================================================//
// Sass Mixins which will be used by the modules
//===============================================================//


//===============================================================//
//          Automatically add vendor prefixes in one hit         //
//===============================================================//
//      .fadeIn {                                                //
//          @include animate-prefixer(animation, 'fadeIn');        //
//      }                                                        //
//===============================================================//

@mixin animate-prefixer($property, $value...) {
    -webkit-#{$property}: unquote('#{$value}');
    -moz-#{$property}: unquote('#{$value}');
    -o-#{$property}: unquote('#{$value}');
    #{$property}: unquote('#{$value}');
}


//===============================================================//
// Generate keyframes animations with vendor prefixes in one hit //
//===============================================================//
//      .fadeIn {                                                //
//          @include animate-prefixer(animation, fadeIn);        //
//      }                                                        //
//      @include animate-keyframe(fadeIn) {                      //
//          0% {opacity: 0;}                                     //
//          100% {opacity: 1;}                                   //
//      }                                                        //
//===============================================================//
// Courtesy of @integralist: (twitter.com)                       //
//===============================================================//

@mixin animate-keyframe($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}


@mixin animation-duration-classes($animation-step: 200, $animation-end: 2000) {

    $i: $animation-step;
    @while $i <= $animation-end {
        .d#{$i} {
            -webkit-animation-duration: #{$i}ms;
            animation-duration: #{$i}ms;
        }
        $i: $i + $animation-step;
    }
}
