.mod-wayfinder {

    .wayfinder {
        margin: 0 -10px;

        .col {
            padding: 10px;
            margin-bottom: 0;
        }
    }

    .wayfinder-item {
        position: relative;
        height: 160px;
        overflow: hidden;

        border: 1px solid $primary-colour;
        box-shadow: inset 0px 0px 0px 2px $white;


        // Inside
        //---------------------

        .inside {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        h3 {
            position: relative;
            margin: 0;
            padding: 0 0 30px 30px;
            color: $primary-colour;

            transition: all 300ms cubic-bezier(0.53, -0.03, 0.64, 1.57);
            z-index: 10;
        }

        .link {
            @include position-absolute();
            z-index: 20;
        }



        // Animation
        //---------------------

        &::before,
        &::after {
            @include pseudo-elem();
            @include position-absolute();
            z-index: -1;

            background: rgba(red, 0.3);

            transition: transform 300ms;
        }

        &::before {
            transform: translateX(100%);
        }

        &::after {
            transform: translateX(-100%);
        }

        &:hover {

            &::before,
            &::after {
                transform: translateX(0);
            }

            &::after {
                transition-delay: 100ms;
            }


            h3 {
                color: $white;

                transform: translateX(10px);
            }
        }
    }
}