$animate-name: pulseOut;

@mixin pulseOut($prefix: '') {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    100% {
        opacity:0;
        transform: scale(1.4);
    }
}

@if $use-custom-pulseOut == true {

    @-webkit-keyframes #{$animate-name} {
        @include pulseOut('-webkit-');
    }

    @-moz-keyframes #{$animate-name} {
        @include pulseOut('-moz-');
    }

    @-o-keyframes #{$animate-name} {
        @include pulseOut('-o-');
    }

    @keyframes #{$animate-name} {
        @include pulseOut();
    }

    .#{$animate-name} {
        @include animate-prefixer(animation-name, $animate-name);
    }

}
