@if $use-custom-rotate == true {

    @-webkit-keyframes rotate {
        0% {
            -webkit-transform-origin: $rotate-origin;
            -webkit-transform: rotate(-$rotate-degrees-full);
        }

        100% {
            -webkit-transform-origin: $rotate-origin;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes rotate {
        0% {
            -moz-transform-origin: $rotate-origin;
            -moz-transform: rotate(-$rotate-degrees-full);
        }

        100% {
            -moz-transform-origin: $rotate-origin;
            -moz-transform: rotate(0);
        }
    }
    @-o-keyframes rotate {
        0% {
            -o-transform-origin: $rotate-origin;
            -o-transform: rotate(-$rotate-degrees-full);
        }

        100% {
            -o-transform-origin: $rotate-origin;
            -o-transform: rotate(0);
        }
    }
    @keyframes rotate {
        0% {
            transform-origin: $rotate-origin;
            transform: rotate(-$rotate-degrees-full);
        }

        100% {
            transform-origin: $rotate-origin;
            transform: rotate(0);
        }
    }

    .rotate {
        @include animate-prefixer(animation-name, rotate);
    }

}