.featherlight-content {
    padding: 0 !important;
    border-bottom: none !important;

    @include mq($min, $tablet-landscape-breakpoint) {
        width: 736px;
    }

    .caption-block {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        color: $white;
        background-color: rgba(0, 0, 0, 0.65);

        .title,
        .caption {
            display: block;
        }

        .title {

        }

        .caption {

        }
    }
}

.component-gallery {
    .col {
        margin-bottom: 20px !important;
    }

    .gallery-thumbnail {
        position: relative;
        height: 250px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}

