

.mod-downloads {

    .content {
        text-align: left;
        max-width: $layout-inner-max-width;
        margin: 0 auto;
        padding: 0 0 1.2em;
    }

    .downloads {
        max-width: $layout-inner-max-width;
        margin: 0 auto;
        font-weight: $font-weight-regular;
    }

    .download {
        position: relative;
        display: block;
        padding: 16px 32px 16px 10px;
        border-bottom: 1px solid $base-border-color;
        color: $base-font-color;
        text-align: left;
        text-decoration: none;

        transition: background 200ms;

        &.first {
            border-top: 1px solid $base-border-color;
        }

        &:hover {
            background: lighten($extra-light-grey, 6%);
        }

        @include mq($min, $tablet-portrait-breakpoint) {
            padding-right: 150px;
        }

        @include mq($min, $tablet-landscape-breakpoint) {
            padding-right: 160px;
            font-size: em(18);
        }
    }

    .download-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -12px;
        text-transform: uppercase;

        @include mq($min, $tablet-landscape-breakpoint) {
            margin-top: -8px;
        }
    }

    .download-note {
        padding: 20px 5px;
        text-align: left;
        font-size: em(12);
    }
}