// Slider load fixes

.slider {

    .slide {
        position: relative;

        &:not(:first-child) {
            display: none;
        }
    }

    &.slick-initialized {
        .slide {
            display: block;
        }
    }
}


.slick-slider {
    margin-bottom: 0;
}

.slick-list {
    .slick-loading & {
        background: url(#{$images-path}icons/ajax-loader.gif) 50% 50% no-repeat transparent;
    }
}

.slick-slide {
    position: relative;

    &:focus {
        outline: none;
    }
}



// Next & Prev Arrows

.slick-prev,
.slick-next {
    width: 42px;
    height: 42px;
    margin-top: -21px;
    z-index: 10;

    &:before,
    &:after {
        color: $base-font-color;

        .arrow-white &,
        .has-bg & {
            color: $white;
        }
    }
}


.slick-prev {
    left: 0;

    @include lamb-icon-element($licon-angle-left) {
        font-size: 34px;
    };
}

.slick-next {
    right: 0;

    @include lamb-icon-element($licon-angle-right) {
        font-size: 34px;
    };
}
