


// Load More Bar
// -------------------------------

.load-more {
    position: relative;
    padding: 20px 0;
    width: 200px;
    margin: 40px auto 0;
    overflow: hidden;
    z-index: 10;

    color: $base-font-color;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    transition: background 200ms;

    @include lamb-icon-element($licon-angle-down, 'after') {
        display: block;
        text-align: center;
        margin: 4px 0 0;
    }


    // Loading Animation
    // -------------------------------

    &.loading,
    &.loading:hover {

        &:after {
            content: $licon-spinner;

            animation:  rotate 2s infinite linear;
        }
    }


    // Hover Animation
    // -------------------------------

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1000px;
        margin-top: -500px;
        z-index: -1;

        background: darken($extra-light-grey, 11%);

        opacity: 0;
        border-radius: 50%;
    }

    &:hover {

        &::after {
            animation: fadeBottom 1600ms ease-in-out infinite;
        }

        &:before {
            animation: p 1.4s ease;
        }
    }
}
