//===============================================================//
// Background Outline
//===============================================================//
//
// Create styles for a bordered element with transparent background.
// Hover background colour will default to rgba(background colour, 0.4)
// if none set.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $hover-class        {Bool}- If the hover style should be included
//      $border-color       {RGBA Color}- Border Color
//      $font-color         {RGBA Color}- Font colour
//      $hover-bg-color     {RGBA Color}- Hover background colour
//      $hover-font-color   {RGBA Color}- Hover font colour
//
//  SCSS:
//
//      .picture {
//          @include background-outline(false, #FF0000, #FFFFFF);
//      }
//
//      .picture2 {
//          @include background-outline(true, #0084FF, #FFFFFF, #24FF1B, #000000);
//      }
//
//  CSS:
//
//      .picture { border: 1px solid #FF0000; background: transparent; color: #FFFFFF; }
//
//      .picture2 { border: 1px solid #0084FF; background: transparent; color: #FFFFFF; }
//      .picture2:hover { border-color: transparent; background-color: #24FF1B; color: #000000; }
//
//===============================================================//

@mixin background-outline($hover-class, $border-color, $font-color: '', $hover-bg-color:'', $hover-font-color:'') {

    @include background-outline-styles($border-color, $font-color);

    @if $hover-class {

        transition: background 200ms, color 200ms, border 200ms;

        &:hover {

            @include background-hover-outline-styles($border-color, $font-color, $hover-bg-color, $hover-font-color);
        }
    }
}



//===============================================================//
// Background Outline Class
//===============================================================//
//
// Create background outline class for a bordered element with transparent background.
// Additional hover class and style also created. Hover background
// colour will default to rgba(background colour, 0.4) if none set.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $bg-color-name      {String}- The class name to insert bg-{}-outline
//      $border-color       {RGBA Color}- Border Color
//      $font-color         {RGBA Color}- Font colour
//      $hover-bg-color     {RGBA Color}- Hover background colour
//      $hover-font-color   {RGBA Color}- Hover font colour
//
//  SCSS:
//
//      @include background-outline-class('red', #FF0000, #FFFFFF);
//
//      @include background-outline-class('blue', #0084FF, #000000, #24FF1B, #FFFFFF);
//
//  CSS:
//
//      .bg-red-outline { border-width: 1px; border-color: #FF0000; border-style: solid !important; background: transparent; color: #FFFFFF; }
//      .bg-red-outline.bg-hover:hover { border-color: transparent; background-color: rgba(255,0,0,0.4); color: #FFFFFF; }
//
//      .bg-blue-outline { border-width: 1px; border-color: #0084FF; border-style: solid !important; background: transparent; color: #000000; }
//      .bg-blue-outline.bg-hover:hover { border-color: transparent; background-color: #24FF1B; color: #FFFFFF; }
//
//===============================================================//

@mixin background-outline-class($bg-color-name, $border-color, $font-color: '', $hover-bg-color:'', $hover-font-color:'') {

    .bg-#{$bg-color-name}-outline {

        @include background-outline-styles($border-color, $font-color);

        // Adding bg-hover class to element will enable background hover animation
        &.bg-hover {

            transition: background 200ms, color 200ms, border 200ms;

            &:hover {

                @include background-hover-outline-styles($border-color, $font-color, $hover-bg-color, $hover-font-color);
            }
        }

    }

}



//===============================================================//
// Background Outline Helpers
//===============================================================//

@mixin background-outline-styles($border-color, $font-color: '') {
    border-width: 1px;
    border-color: $border-color;
    border-style: solid !important;
    background: transparent;

    @if $font-color != '' {
        color: $font-color;
    }
}

@mixin background-hover-outline-styles($border-color: '', $font-color: '', $hover-bg-color:'', $hover-font-color:'') {
    @if $hover-bg-color == '' {

        @if $border-color == '' {
            $border-color: $white;
        }

        $hover-bg-color: rgba($border-color, 0.4);
    }

    @if $hover-font-color == '' {

        @if $font-color != '' {
            $hover-font-color: $font-color;
        }
        @else {
            $hover-font-color: $white;
        }
    }

    border-color: transparent;
    background-color: $hover-bg-color;
    color: $hover-font-color;
}