//===============================================================//
// Box Sizing
//===============================================================//
//
// Generate appropriate box sizing prefixes
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $box-sizing  {String}- Box sizing
//
//  SCSS:
//
//      .picture {
//          @include box-sizing();
//      }
//
//      .picture2 {
//          @include box-sizing(content-box);
//      }
//
//  CSS:
//
//      .picture {
//          -webkit-box-sizing: box-sizing;
//          -moz-box-sizing: box-sizing;
//          box-sizing: box-sizing;
//      }
//
//      .picture2 {
//          -webkit-box-sizing: content-sizing;
//          -moz-box-sizing: content-sizing;
//          box-sizing: content-sizing;
//      }

//
//===============================================================//

@mixin box-sizing($box-sizing: border-box) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}