/**
CENTER ELEM
- centers element vertically and horizontally
- useful for when no fixed width or height is available
**/

@mixin center-elem() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
