//===============================================================//
// Clearfix
//===============================================================//
//
// Clearfix for floating elements. Utilises pseudo element for fix.
//
//===============================================================//
// Usage
//===============================================================//
//
//  SCSS:
//
//      .picture {
//          @include clearfix();
//      }
//
//  CSS:
//
//      .picture {
//          clear: both;
//          content: "";
//          display: table;
//      }
//
//===============================================================//

@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}