// Animation duration - generates classes of animation durations
@mixin generate-animation-duration($animation-step: 200, $animation-end: 2000){

    $i: $animation-step;
    @while $i <= $animation-end {
        .d#{$i} {
            animation-duration: (#{$i}ms);
        }
        $i: $i + $animation-step;
    }
}