//===============================================================//
// Triangle
//===============================================================//
//
// Generate CSS triangle using borders. Allows for any direction and
// colour combination. Allows for variable or equal width and height
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $size       {Multiple Pixel Values}- Size of triangle
//      $color      {Multiple RGBA Colors}- Color of triangle, optional background color
//      $direction  {up|down|right|left|up-right|up-left|down-right|down-left|
//                  inset-up|inset-down|inset-right|inset-left}- Direction of triangle
//
//  SCSS:
//
//      .triangle-up {
//          @include triangle(10px, red, up);
//      }
//
//      .triangle-up-right {
//          @include triangle(10px 20px, green blue, up-right);
//      }
//
//  CSS:
//
//      .triangle-up {
//          width: 0;
//          height: 0;
//          border-bottom: 10px solid red;
//          border-left: 10px solid transparent;
//          border-right: 10px solid transparent;
//      }
//
//      .triangle-up-right {
//          width: 0;
//          height: 0;
//          border-top: 20px solid green;
//          border-left:  20px solid blue;
//      }
//
//===============================================================//

@mixin triangle ($size, $color, $direction) {
    width: 0;
    height: 0;

    $width: nth($size, 1);
    $height: nth($size, length($size));

    $foreground-color: nth($color, 1);
    $background-color: if(length($color) == 2, nth($color, 2), transparent);

    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {

        $width: $width / 2;
        $height: if(length($size) > 1, $height, $height/2);

        @if $direction == up {
            border-bottom: $height solid $foreground-color;
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;

        } @else if $direction == right {
            border-bottom: $width solid $background-color;
            border-left: $height solid $foreground-color;
            border-top: $width solid $background-color;

        } @else if $direction == down {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-top: $height solid $foreground-color;

        } @else if $direction == left {
            border-bottom: $width solid $background-color;
            border-right: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
    }

    @else if ($direction == up-right) or ($direction == up-left) {
        border-top: $height solid $foreground-color;

        @if $direction == up-right {
            border-left:  $width solid $background-color;

        } @else if $direction == up-left {
            border-right: $width solid $background-color;
        }
    }

    @else if ($direction == down-right) or ($direction == down-left) {
        border-bottom: $height solid $foreground-color;

        @if $direction == down-right {
            border-left:  $width solid $background-color;

        } @else if $direction == down-left {
            border-right: $width solid $background-color;
        }
    }

    @else if ($direction == inset-up) {
        border-color: $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $height $width;
    }

    @else if ($direction == inset-down) {
        border-color: $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $height $width;
    }

    @else if ($direction == inset-right) {
        border-color: $background-color $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $width $height;
    }

    @else if ($direction == inset-left) {
        border-color: $background-color $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $width $height;
    }
}