// Directories
// -------------------------------

$images-path: "../img/";
$fonts-path: "../fonts/";


// Theme Colours
// -------------------------------

$blue: #477dca;
$red: #e15636;
$pink: #f4645f;

$brown: #997A66;

$extra-dark-grey: #0e0c0d;
$dark-grey: #262425;
$grey: #525252;
$light-grey: #767575;
$extra-light-grey: #d5d7d6;

$white: #fff;
$black: #000;

$primary-colour: $pink;     // Primary theme colour (buttons, icons)
$secondary-colour: $red;    // Secondary theme colour
$action-colour: $pink;      // Base colour for actions (links, etc)


// Colours
// -------------------------------

$body-background-color: #fff;

$header-background-color: $white;

$menu-toggle-color: $dark-grey;

$footer-background-color: $grey;
$footer-top-background-color: $grey;
$footer-bottom-background-color: $dark-grey;


// Font Colours
// -------------------------------

$base-font-color: $grey;
$light-font-color: $light-grey;
$footer-font-color: $light-grey;


// Fonts
// -------------------------------

$fall-back-fonts: Helvetica Neue, Bitstream Vera Sans, sans-serif;
$open_sans: 'Source Sans Pro', $fall-back-fonts;


// Typography
// -------------------------------

$base-font-family: $open_sans;
$heading-font-family: $open_sans;
$nav-font-family: $open_sans;
$button-font-family: $open_sans;


// Font Sizes
// -------------------------------
$base-font-size: 16px;
$base-content-font-size: 14.5px;


// Font Weights
// -------------------------------

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$base-font-weight: $font-weight-regular;


// Line Height
// -------------------------------

$base-line-height: 1.7;
$heading-line-height: 1.2;
$small-line-height: 0.8;


// Other Sizes
// -------------------------------

$base-spacing: 16px;
$header-spacing: 20px;
$small-spacing: 13px;

$base-border-radius: 0px;
$base-z-index: 0;


// Border
// -------------------------------

$base-border-color: $extra-light-grey;
$dark-border-color: $grey;
$base-border: 1px solid $base-border-color;


// Forms
// -------------------------------

$input-padding: 10px;

$input-color: $base-font-color;
$placeholder-font-color: $light-font-color;
$input-background-color: transparent;
$input-border-color: $light-font-color;
$input-border-width: 0px 0px 1px 0px;

$input-color-dark: $white;
$placeholder-font-color-dark: $extra-light-grey;
$input-background-color-dark: transparent;
$input-border-color-dark: $white;
$input-border-width-dark: 0px 0px 1px 0px;


// Buttons
// -------------------------------

$base-button-background-color: $primary-colour;
$base-button-padding: 14px 25px;
$base-button-padding-mobile: 20px;
$base-button-color: #fff;
$base-button-min-width: 200px;


// Layout
// -------------------------------

$layout-inner-max-width: 900px;
$layout-max-width: 1244px;
$layout-padding: 20px;


// Breakpoints
// -------------------------------

$mobile-mid-breakpoint: 550px;
$tablet-portrait-breakpoint: 768px;
$tablet-landscape-breakpoint: 1024px;
$desktop-breakpoint: $layout-max-width;


// Header
// -------------------------------

$header-height-mobile: 60px;
$header-height-tablet: 80px;
$header-height-desktop: 90px;


// Banner
// -------------------------------

$banner-height-mobile: 210px;
$banner-height-tablet: 300px;
$banner-height-desktop: 415px;

$banner-compact-height-mobile: 150px;
$banner-compact-height-tablet: 200px;
$banner-compact-height-desktop: 260px;



// Module Settings
// -------------------------------

$padding-mobile: 35px 0;
$padding-tablet: 45px 0;
$padding-desktop: 60px 0;


// Misc
// -------------------------------

$menu-separator: '.';
$menu-separator-padding: 0;


// Wordpress
// -------------------------------

$wp-adminbar-height: 46px;
$wp-adminbar-height-desktop: 32px;
$wp-tablet-adminbar-breakpoint: 783px;


// Transitions
// -------------------------------

$transition-duration: 200ms;


// Sidebar
// -------------------------------

$sidebar-width: 250px;