/**
** Common styles for icons layout
**/

.mod-icons {
    .icons {
        .icon-block {
            margin-bottom: 20px;

            .icon-image {
                position: relative;
                overflow: hidden;

                .icon-container {
                    &::before {
                        @include pseudo-elem();
                        position: absolute;
                        border: 1px solid $primary-colour;
                        border-radius: 50%;
                    }
                }
            }

            //Icon Text Content
            .icon-details {
                .icon-title {
                    font-weight: $font-weight-bold;
                }

                .icon-subtitle {

                }

                .icon-content {

                }
            }
        }
    }
}