.mod-icons {
    &.strip {

        .icons {
            .icon-block {

                //Icon
                .icon-image {
                    display: block;
                    width: 130px;
                    height: 130px;
                    margin: 30px auto;
                    overflow: hidden;


                    .icon-container {

                        //circle border
                        &::before {
                            width: 130px;
                            height: 130px;
                        }

                        img {
                            transform: translate(-50%, -50%);

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 62px;
                            height: auto;
                        }
                    }
                }

                //Icon Text Content
                .icon-details {
                    .icon-title,
                    .icon-subtitle,
                    .icon-content {
                        text-align: center;
                    }

                    .icon-subtitle {
                    }

                    .icon-content {
                    }
                }
            }
        }
    }
}