.mod-icons {
    &.list {

        .icons {
            .icon-block {

                //Icon
                .icon-image {
                    .icon-container {
                        display: inline-block;
                        width: 100%;
                        height: 90px;

                        //circle border
                        &::before {
                            top: calc(50% - 45px);
                            left: calc(50% - 45px);
                            width: 90px;
                            height: 90px;
                        }

                        img {
                            transform: translate(-50%, -50%);

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 42px;
                            height: auto;
                        }
                    }
                }

                //Icon Text Content
                .icon-details {
                    .icon-title {

                    }

                    .icon-subtitle {

                    }

                    .icon-content {

                    }
                }
            }
        }

    }
}