.title-block {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;

    .module .module & {
        font-size: .7em;

        .subtitle {
            font-size: 1.5em;
        }
    }

    .h1 {
        margin: 0;
    }

    .intro {
    }
}

