.menu-top-wrap {
    display: inline-block;

    .menu-top {
        padding: 0;

        li {
            display: inline-block;
            padding: 0;

            a {
                display: block;
                padding: 0 10px;

                font-size: em(14);
                text-decoration: none !important;
                text-transform: uppercase;
                color: $extra-light-grey;
                line-height: $header-top-height-desktop;

                transition: background 200ms;

                &:hover {
                    background: $dark-grey;
                }
            }
        }
    }
}