

.menu-wrap {
    nav {

        .menu {

            .menu-item-has-children {

                @include mq($max, $tablet-landscape-breakpoint) {

                    .sub-menu-toggle {
                        position: absolute;
                        right: 0;
                        height: 52px;
                        width: 52px;
                        top: 0;
                        cursor: pointer;

                        @include lamb-icon-element($licon-angle-down) {
                            color: $white;
                            line-height: 57px;
                        }
                    }

                    .sub-menu {
                        display: none;

                        li {
                            margin: 0;
                        }

                        a {
                            @include background-color(true, rgba($extra-dark-grey, 0.4), $white, rgba($white, 0.2));
                        }
                    }

                    // Open
                    &.open {

                        .sub-menu-toggle {

                            &:before {
                                content: $licon-angle-up;
                            }
                        }

                        .sub-menu {
                            display: block;
                        }
                    }
                }

                @include mq($min, $tablet-landscape-breakpoint) {

                    .sub-menu-toggle {
                        display: none;
                    }

                    .sub-menu {
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 200ms 0ms, visibility 0ms 200ms;
                    }

                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 200ms 0ms, visibility 0ms 0ms;
                        }
                    }
                }
            }
        }

        .sub-menu {

            @include mq($min, $tablet-landscape-breakpoint) {
                display: block;
                position: absolute;
                top: $header-nav-height-desktop;
                left: 0;
                width: auto;
                margin: 0 auto;
                overflow: hidden;

                li {
                    display: block;
                    margin: 0;

                    > a {
                        display: block;
                        padding: 20px 15px;
                        background: $dark-grey;

                        line-height: 1em;
                        font-size: em(14);
                        white-space: nowrap;
                    }

                }
            }
        }
    }
}
