.mod-post {
    padding: 0;

    .article-index {
        margin: 0;
        padding: 0 0 30px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid $base-border-color;

        > ul {
            padding: 0;

            ul {
                font-weight: $font-weight-regular;
            }
        }

        ul {
            list-style: none;
        }

        li {

            &::before {
                content: "# ";
                margin-right: .25em;
                color: $action-colour;
                opacity: 0.3;
            }
        }

        a {
            text-decoration: none;
        }
    }


    // Anchor
    //----------------

    $anchor-offset: 10px;

    .anchor {
        position: absolute;
        margin-top: -$anchor-offset;

        .admin-bar & {
            margin-top: -($wp-adminbar-height-desktop + $anchor-offset);

            @include mq($max, $wp-tablet-adminbar-breakpoint) {
                margin-top: -($wp-adminbar-height + $anchor-offset);
            }
        }
    }
}